<div class = "card-modal"
    *ngIf = "book$ | async as book">
    <div class = "card">
        <div class = "card-header">
            <h2>{{ book.title }}</h2>
            <div class="btn-container">
                <a class = "shop-btn" href = "{{ amazonLink }}" target = "_blank">Buy</a>
                <button type = "button" 
                        class = "exit-btn"
                        (click)="clearBook()">
                    X
                </button>
            </div>
        </div>
        <div class = "card-body">
            <div class = "book-cover">
                <img src="{{ book.coverImg }}">
            </div>
            <p class="book-detail">
                <b>Series:</b> {{ book.series }} <br><br>
                <b>Author:</b> {{ book.author }} <br><br>
                <b>Rating:</b> {{ book.rating }} <br><br>
                <b>Publish Date:</b> {{ book.publishDate }} <br><br>
                <b>Pages:</b> {{ book.pages }} <br><br>
                <b>Description:</b> {{ book.description }}
            </p>
        </div>
        
    </div>
</div>