.card-modal {
    position: fixed;
    z-index: 999;
    left: 10vw;
    right: 10vw;
    top: 15vh;
}

.card {
    height: 100%;
    width: 80vw;
    position: relative;
    background-color: #2f2b2b;
    border-color: white;
}

.card-header {
    color: white;
    background-color: #2f2b2b;
    position: relative;
}

.card-header h2 {
    width: 100%;
    text-align: center;
}

.btn-container {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    height: fit-content;
}

.shop-btn {
    width: fit-content;
    padding: 0.2em 0.8em;
    color: white;
    border: 1px solid white;
    border-radius: 1em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
}

.exit-btn {
    width: 30px;
    height: 30px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 77, 77);
    border: 1px solid white;
    border-radius: 1rem;
    text-align: center;
}

.card-body {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: min-content;
    color: white;
    background-color: #221f1f;
}

.book-cover img{
    width: 100%;
}

.book-detail {
    padding: 0 1em;
    margin: 0;
    height: fit-content;
}